{% extends "vietskill/base.html" %}

{% load staticfiles %}

{% block title %} Recruitment {% endblock %}

{% block content %}

    {# Page Heading #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Recruitment</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-rocket"></i> Recruitment
                </li>
            </ol>
        </div>
    </div>{# /.row  #}
    <br>
    {% if user.is_authenticated %}
        <div class="row">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="{% url 'recruit_add' %}" class="btn btn-primary" role="button">
                <i class="fa fa-plus fa-lg"></i> Add new post </a>
        </div>
    {% endif %}
    <br>
    {% for post in posts %}
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-justify">
                    <h3 style="color: #1A3D7D;">{{ post.title }}</h3>

                    <p><strong>Published: {{ post.release_date }}</strong></p>

                    <p>{{ post.content|linebreaks }}</p>

                    {% if user.is_authenticated %}
                        <div class="text-right">
                            <!-- Button trigger modal -->

                            <a href="{% url 'recruit_edit' pk=post.pk %}" class="btn btn-warning" role="button">
                                <i class="fa fa-pencil fa-lg"></i> </a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-trash fa-lg"></i>
                            </button>
                        </div>
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title text-left" id="myModalLabel">Delete profile</h4>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center">Are you sure you want to delete this post?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'recruit_delete' pk=post.pk %}" class="btn btn-danger"
                                       role="button">OK</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {# /.well  #}
            </div>
        </div>{# /.row  #}
    {% endfor %}

{% endblock %}