{% extends "vietskill/base.html" %}

{% load staticfiles %}

{% block title %} Teaching assistant’s day {% endblock %}

{% block content %}

    {# Page Heading #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Teaching assistant’s day</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-gears"></i> <a href="#">Statistics</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart"></i> Teaching assistant’s day
                </li>
            </ol>
        </div>
    </div>{# /.row  #}

    <div class="row">
        <div class="col-lg-12 text-center">
            <div id="chartContainer" style="height: 400px; width: 100%;">
            </div>
        </div>
    </div>{# /.row  #}
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "Teaching assistant’s day"
                },

                data: [  //array of dataSeries
                    { //dataSeries - first quarter
                        /*** Change type "column" to "bar", "area", "line" or "pie"***/
                        type: "column",
                        name: "Real active day",
                        showInLegend: true,
                        dataPoints: [
                            { label: "Minh Duong", y: 18 },
                            { label: "Phuong Thuy", y: 29 },
                            { label: "Dieu Linh", y: 40 },
                            { label: "An Trinh", y: 34 },
                            { label: "Ha Mai", y: 24 }
                        ]
                    },

                    { //dataSeries - second quarter

                        type: "column",
                        name: "Plan day",
                        showInLegend: true,
                        dataPoints: [
                            { label: "Minh Duong", y: 23 },
                            { label: "Phuong Thuy", y: 33 },
                            { label: "Dieu Linh", y: 48 },
                            { label: "An Trinh", y: 37 },
                            { label: "Ha Mai", y: 20 }
                        ]
                    }
                ],
                /** Set axisY properties here*/
                axisY: {
                    suffix: "days"
                }
            });

            chart.render();
        }
    </script>
    <script type="text/javascript" src="{% static 'js/canvasjs.min.js' %}"></script>

{% endblock %}